<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="font-['helvetica_now_display']">
    <header
      class="w-full bg-zinc-900 text-white px-8 py-4 flex items-center justify-between"
    >
      <!-- LEFT: Brand -->
      <div class="text-xl font-semibold">
        <a class="text-lg" href="/shop">Shoppie</a>
      </div>

      <!-- CENTER: Navigation -->
      <nav class="flex gap-6 text-sm">
        <% if (user && user.role === "admin") { %>
        <a href="/shop" class="hover:text-gray-300">Home</a>
        <a href="/admin" class="hover:text-gray-300">Dashboard</a>
        <a href="/cart" class="hover:text-gray-300">Cart</a>
        <a href="/users">Profile</a>

        <% } else if (user) { %>
        <a href="/shop" class="hover:text-gray-300">Home</a>
        <a href="/cart" class="hover:text-gray-300">Cart</a>
        <a href="/users">Profile</a>
        <% } %>
      </nav>

      <!-- RIGHT: User actions -->
      <div class="flex items-center gap-4 text-sm">
        <% if (user) { %>
        <span class="text-gray-300"> Hi, <%= user.fullname %> </span>
        <form action="/users/logout" method="POST">
          <button
            type="submit"
            class="bg-white text-black px-3 py-1 rounded hover:bg-gray-200 transition"
          >
            Logout
          </button>
        </form>
        <% } %>
      </div>
    </header>
  </body>
</html>
