<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="w-full h-screen bg-zinc-800 flex flex-col items-center">
      <div><h1 class="text-4xl text-white">SHOP WEBSITE!</h1></div>
      <div class="mt-5 text-yellow-200 flex gap-3">
        <a class="bg-blue-800 rounded-md px-3 py-2" href="/login">Register</a>
        <a class="bg-blue-800 rounded-md px-3 py-2" href="/login">Login</a>
        <a class="bg-blue-800 rounded-md px-3 py-2" href="/admin">Admin</a>
      </div>
    </div>
  </body>
</html>
